.home-imagem img {
  opacity: 80%;
  width: 580px;
}
.home-profissao {
  margin-top: 120px;
}
.home-profissao h1 {
  font-size: 42px;
  font-weight: 700;
}
.home-profissao h3 {
  text-align: start !important;
  font-size: 68px;
  font-weight: 600;
  color: #775cef;
}
.home-profissao p {
  font-size: 18px;
  padding-left: 10px;
}
.home-profissao a {
  display: block;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 5px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #775cef;
  box-shadow: 1px 1px 2px #775cef;
  color: #fff;
  text-decoration: none;
  width: 170px;
  background-image: linear-gradient(#775cef, #684fdab2);
}
.home-profissao a:hover {
  background-image: linear-gradient(#654add67, #613ff8d8);
}
.home-profissao a i {
  font-size: 18px;
}
.home-a  {
display: flex!important;
}

/* Responsivo*/
@media (max-width: 600px) {
  .home-profissao {
    margin-top: 60px;
  }
  .home-profissao h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
  }
  .home-profissao h3 {
    margin: 0 auto;
    width: 350px;
    font-size: 36px;
    font-weight: 600;
    color: #775cef;
    text-align: center !important;
  }
  .home-profissao p {
    display: flex;
    justify-content: center;
  }
  .home-profissao a {
    display: inline-block;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    width: 140px;
    
  }
  .home-imagem img {
    width: 350px;
  }
  p  #texto-sp{
    text-align: center!important;
  }
  .home-a  {
    display: flex!important;
    justify-content: center;
    }
}
